html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  object-fit: cover;
}

:root {
  --dark-color: #BDB4FF;
  --light-color: #EAFC88;
  --black: #141414;
  --green: #EAFC88;
  --cream: #FFFEEC;
  --orange: #ffa310;
  --yellow: #f9e395;
  --blue: #D3D9F1;
  --red: #FF6424;
  --pink: #f5d4ce;
  --darker-pink: #f48c8a;
}

* {
  padding: 0;
  margin: 0;
}

/* --------------------------------- global --------------------------------- */
.content {
  height: 100svh;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: 'Cutive Mono', monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popUpText {
  background-color: black;
  font-size: 1.5vw;
  text-align: center;
  display: none;
}

.contBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.goHomeBtn {
  width: 100%;
}

.contGoHome {
  position: absolute;
  top: 15px;
  left: 30px;
  width: 12%;
}

.contGoHome:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.goHomeText {
  text-align: center;
}

.contTitulo:hover {
  cursor: help;
}

.hover {
  display: flex;
  position: absolute;
  justify-self: center;
  align-self: center;
  width: 100%;
  color: yellow;
  z-index: 10;
  text-align: center;
}

/* -------------------------------- home page ------------------------------- */


video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.contTitulo {
  transition: 4s;
  z-index: 2;
}

h1 {
  font-family: 'Jersey 10', monospace;
  letter-spacing: 1.5rem;
  font-size: 12vw;
  margin-top: 3rem;
}


.contInfo {
  position: absolute;
  top: 65%;
  left: 20%;
  width: 10%;
}

.infoBtn {
  z-index: 5;
  width: 100%;

}

.contNotes {
  position: absolute;
  top: 34%;
  left: 15%;
  width: 10%;
}

.notesBtn {
  z-index: 5;
  width: 100%;
}

.contBitacora {
  position: absolute;
  top: 34%;
  right: 15%;
  width: 10%;
}

.bitacoraBtn {
  z-index: 5;
  width: 100%;
}

.bitacoraText {
  text-align: center;
}

.contReferentes {
  position: absolute;
  top: 65%;
  right: 20%;
  width: 10%;
}

.referentesBtn {
  z-index: 5;
  width: 100%;
}

.contInfo:hover,
.contNotes:hover,
.contBitacora:hover,
.contReferentes:hover {
  transform: scale(1.1);
  cursor: pointer;
  /* box-shadow: 0 0 10px 10px yellow; */
}

/* ---------------------------------- info ---------------------------------- */
.content-info {
  height: 100vh;
  background-color: var(--dark-color);
  color: var(--light-color);
  font-family: 'Cutive Mono', monospace;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.titulo-bio {
  margin-left: 17%;
  font-size: 8vw;
  transition: 400ms;
  width: 60%;
}

.titulo-bio:hover {
  transform: scale(1.5) translate(10%, 10%);
  z-index: 30;
}

.subtitulo-bio {
  margin-left: 17%;
}

.bio-text {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 47%;
  position: absolute;
  top: 54%;
  left: 4%;
  font-size: 1.3vw;
  font-weight: 800;

}

.foto-cow {
  width: 40%;
  position: absolute;
  top: 22% !important;
  right: 6% !important;

}

.foto-cow:hover {
  cursor: grab;
}

.foto-cow:active {
  cursor: grabbing;
  user-select: none;
}

#movableImg {
  position: absolute;
}

.contacto {
  display: flex;
  flex-shrink: 2;
  width: 40%;
  position: absolute;
  bottom: 20%;
  right: 6%;
  font-family: 'Jersey 10', monospace;
  letter-spacing: 1rem;
  font-size: 3vw;
}

/* ------------------------------- referentes ------------------------------- */
.content-referentes {
  height: 100vh;
  background-color: var(--black);
  color: var(--green);
  font-family: 'Cutive Mono', monospace;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.titulo-referentes {
  align-self: flex-end;
  margin-right: 1em;
  transition: 800ms;
  font-size: 7vw;
}

.titulo-referentes:hover {
  transform: scale(2);
}

.cont-referente {
  width: 210px;
  height: 210px;
  position: absolute;
  transition: 300ms;
}

.cont-referente>img {
  transition: 200ms;
}

.cont-referente>img:hover {
  transform: scale(2);
  box-shadow: 0px 10px 30px #df5be6;
}

.foto-larga {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.cont-referente.brad {
  top: 37%;
  left: 5%;
}

.cont-referente.brad:hover {
  transform: skew(2deg, 3deg) translate(50px, -40px);
}


.cont-referente.njinla {
  top: 8%;
  left: 32%;
  height: 210px;
}


.cont-referente.njinla:hover {
  transform: skew(2deg, 3deg) translateY(60px);
}

.cont-referente.mileece {
  top: 77%;
  left: 25%;
}

.cont-referente.mileece:hover {
  transform: skew(-2deg, -3deg) translateY(-50px);
}

.cont-referente.soundStudies {
  top: 27%;
  right: 12%;
}

.cont-referente.soundStudies:hover {
  transform: skew(3deg, 2deg) translateY(50px);
}

.cont-referente.radioArt {
  top: 52%;
  right: 34%;
}

.cont-referente.radioArt:hover {
  transform: skew(-2deg, -3deg) translateY(-50px);
}

.cont-referente.columbia {
  bottom: -20%;
  right: 5%;
}

.cont-referente.columbia:hover {
  transform: skew(-2deg, -3deg) translateY(-50px) translateX(-70px);
}

.symbol {
  font-family: "Yarndings 12", monospace;
  font-size: 3vw;
  color: var(--cream);
  position: absolute;
}

.symbols {
  font-family: "Yarndings 12", monospace;
}

/* --------------------------- notas del programa --------------------------- */

.content-notas {
  background-color: var(--cream);
  color: var(--dark-color);
  font-family: 'Cutive Mono', monospace;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.titulo-notas {
  align-self: flex-end;
  margin-right: 10px;
  transition: 3s;
  font-size: 8vw;
}


.sub-notas {
  text-align: right;
  align-self: flex-end;
  margin-right: 10px;
  padding-right: 25px;
  margin-bottom: 4%;
}

.texto {
  font-size: 1.3em;
}

.texto.intro {
  padding: 0 20% 0 20%;
  align-self: center;
}

.underline {
  text-decoration: underline;
  font-weight: 900;
}

.meta-def:hover {
  background-color: var(--green);
  cursor: help;
}

.triangulo {
  margin: 3em 0 2em 1em;
  display: flex;
  max-width: 100%;
  flex-direction: column;
  gap: 0.5em;
  word-spacing: 0;
  letter-spacing: 0;

}

.b {
  padding-left: 3%;
}

.b:hover {
  background-color: var(--pink);
  color: var(--red);
}

.c {
  padding-left: 6%;
}

.c:hover {
  background-color: var(--dark-color);
  color: var(--green);
}

.d {
  padding-left: 9%;
}

.d:hover {
  background-color: var(--orange);
  color: var(--cream);
}

.e {
  padding-left: 12%;
}

.e:hover {
  background-color: var(--black);
  color: var(--cream);
}

.f {
  padding-left: 15%;
}

.f:hover {
  background-color: var(--green);
  color: var(--dark-color);
}

.cont-pie {
  position: absolute;
  display: none;
  width: 60%;
  top: 36%;
  left: 15%;
  background-color: var(--yellow);
  color: var(--orange);
  border: 4px solid var(--orange);
  padding: 1em;
}

.active {
  display: flex;
}

.pie {
  font-size: 1.3em;
  font-weight: 800;
}

.content-notas.dos {
  background-color: var(--black);
  color: var(--green);
}

.quote {
  align-self: flex-end;
  margin: 2em 2em 0 40%;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
  font-family: 'Jersey 10', monospace;
  font-size: 2em;
}


.quote>p {
  text-align: right;
  transition: 500ms;
}

.quote>p:hover {
  transform: scale(1.1) translateX(-10px);
}

.autor {
  margin-bottom: 1em;
}

.como {
  display: flex;
}

.subtitulo-como {
  align-self: center;
  margin: 0.5em 0 1em;
  font-family: 'Jersey 10', monospace;
  font-size: 3vw;
}

.diagrama {
  max-width: 30%;
  height: auto;
  align-self: flex-start;
  margin: 1em 5em;
}

/* .diagrama>img {
  border: 4px solid var(--darker-pink);
} */

.explicacion {
  margin: 1em 2em 2em 0;
  font-size: 1.4vw;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  gap: 6vh;
  align-self: center;
}

.content-notas.tres {
  background-color: var(--pink);
  color: var(--darker-pink);
}

/* -------------------------------- bitacora -------------------------------- */

.content-bitacora {
  height: 100vh;
  background-color: var(--green);
  color: var(--darker-pink);
  font-family: 'Cutive Mono', monospace;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.titulo-bitacora {
  align-self: flex-end;
  margin-right: 10px;
  transition: 3s;
  font-size: 8vw;
  transition: 400ms;
}

.titulo-bitacora:hover {
  transform: scale(1.5) translate(-12%, -5%);
}

.cont-video {
  width: 50%;
  height: 60%;
  align-self: center;
  margin-top: 15%;
}